# Gradle Files
build
.gradle

# Local repository
cpp/repo
cpp/cmake-library/repo

# Swift Package Manager Files
.build
Packages
Package.resolved

# Xcode Files
*.xcodeproj
*.xcworkspace

# Visual Studio Files

.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# AppCode/IDEA Files
.idea
*.iml
*.ipr
*.iws
out/

#eclipse files
**/.project
**/.settings
**/.cproject
**/.gitignore
**/.autotools

# Mac OS Junk
.DS_Store
